
*{  box-sizing: border-box;
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: FonAquaFon Made;
    src: url(Font/FontAquaFon\ Made\ -\ \ Tommy\ Regular.otf) format('truetype');
    
}

body {
    font-family:'FonAquaFon Made';
    background-color: #001331;
    color: #f0f0f0;
}
/*MENU PRINCIPIAL*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#menuPrincipial{
    padding: 20px 0px 20px 0;
    box-sizing: border-box;
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
    height: 90px;
    box-shadow: 0px 10px 20px rgba(0,0,0,1);
}

.menuIcon{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    font-size: 1em;
    color: #ccc;
    height: 50px;
    transition: transform .3s;
   
}
.menuIcon:hover:not(:nth-child(2)){
    transform: scale(1.1);
    background-color: #ffcd48;
}

#menuPrincipial > .menuIcon:not(:nth-child(2)) {
    border-radius: 25px; /* ajusta el valor según tu preferencia */
    border: 2px solid #ffcd48; /* ajusta el color y el grosor del borde según tu preferencia */
  }
.menuIcon img{
transition: transform 0.3s ease;
}
.menuIcon img:hover{ 
    transform: scale(1.1);
}
.menuIcon nav{
  display: flex;  
  justify-content: center;
  align-items: center;  
  padding: 20px;
  
}

.menuIcon nav a{ 
    font-size: 700;
    color: white;
    text-decoration: none;
}
nav ul{
    list-style-type:none;
}
.logoMenu{
    max-width: 100%;
    height: auto;
}
/*PRIMERA PORTADA*/
main .contenedor1-Hola{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
   
}
.imgTuberia{
    margin: 0;
    padding: 0 13% 0 13%;
}
.contenedor1-Hola{
    margin-top: 100px;
    display: flex;
    padding: 5%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
   
  
}
.contenedor1-Hola h1{
    font-size: 250px;
    color: #ffcd48;
    
}
.contenedor1-Hola p{
    font-size: 1.2em;  
    width: 500px;  
}


/*SEGUNDA PORTADA:CALIDAD DE SERVICIOS*/
.contenedor2-CalidadServicio{
    position: relative;
    border: 1px solid ffcd48;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
   
    background-color: black;
    gap: 35px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -10px;
    
}

.contenedor2-CalidadServicio img{
    height: 230px;
    width: 230px;
    transition: filter 0.3s ease;
    transition: transform 0.3s ease;
    filter: grayscale(100%);
}
.contenedor2-CalidadServicio img:hover{
    filter: grayscale(0%); /* Cambia a escala de grises */
    transform: scale(1.1);
}
.imagenesdeServicio{
   width: 100%;
   display: flex;
   flex-direction: row;
   box-sizing: border-box; 
   justify-content: center;
   align-items: center;
   overflow:hidden;
   
}
.imagenesdeServicio img{
    width: 20%;
    height: 20%;
}
@media screen and (max-width: 630px) {
    .contenedor2-CalidadServicio img {
        height: 150px;
        width: 150px;
    }
}



.contenedor2-CalidadServicio p{
    font-size: 1.5em;
    width:500px ;
    
}

.box-botonWhatsapp{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    gap: 10px;
    padding: 10px;
    margin: 0;
    transition: transform .2s;  
}
.box-botonWhatsapp img{
    flex: 1; /* Distribuye el espacio de manera uniforme entre los elementos */
    width: 50px;
    height: 50px;
    max-width: 100%; /* Evita que la imagen se desborde */
    max-height: 100%; /* Evita que la imagen se desborde */
    border: 1px solid orange;
    border-radius: 50%;
    padding: 10px;
}
.box-botonWhatsapp button{
    height: 50px;
    border: 2px solid #ffcd48; /* Borde de 2px sólido con color ef8818 */
    border-radius: 20px; /* Bordes redondeados */
    background-color: transparent; /* Sin relleno de fondo */
    padding: 10px; /* Ajusta el relleno según sea necesario */
    color: #ffcd48; /* Color del texto */
    font-family:'FonAquaFon Made';
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    margin-bottom: 90px;
    
}
.box-botonWhatsapp:hover{
    transform: scale(1.1);
}

.contenedor2-CalidadServicio button:hover {
    background-color: #866d27c5; /* Cambia el color de fondo al pasar el mouse */
    color: #fff; /* Cambia el color del texto al pasar el mouse */
}

/*CONTENEDOR DE TODOS LOS SERVICIOS*/

.contenedorAguasPluvial{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: #000000;
}
.contenedorAguasPluvial h2{
    width: 100%;
    font-size: 1.5 em;
}
.descripcionServiceAguasPluvial{
    margin-top: 20px;
    border: 1px solid #ffcd48;
    border-radius: 25px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),url(/imagenes/watter-Fontaneria-Fondo\ de\ agua.jpg);
}
.imgAguaPluvial{
    width: 200px;
    height: 200px;
    border: 1px solid #fdd872;
    border-radius: 50%;
    margin-left: 8%;

}
.contenBotonAguasPluvial{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 10px;
   
}
.contenBotonAguasPluvial button{
    padding: 15px 10px;
    border-radius: 20px;
    background-color: transparent; /* Sin relleno de fondo */
    border: 1px solid #ffcd48;
    color: #ffcd48; /* Color del texto */
    font-family:'FonAquaFon Made';
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer;
    transition: transform .3s;
   
} 
.contenBotonAguasPluvial img{
    width: 50px;
    height: 50px;
    border: 1px solid orange;
    border-radius: 50%;
    padding: 10px;
    filter: grayscale(100%);
    transition: transform 0.3s;
    transition: filter 0.3s ease;
}
.contenBotonAguasPluvial  button:hover{
    transform: scale(1.1);
   
}
.contenBotonAguasPluvial  img:hover{
    transform: scale(1.1);
    filter: grayscale(0%); 
}

section {
    display: flex;
    flex-direction: column;
    padding: 0;
    position: relative;
    background:linear-gradient(to bottom, #000000, #011941,#013a41);
    justify-content: center;
    align-items: center;
}
h1{
   font-size: 4em;
   text-align: center;
   justify-content: center;
   color: #ffcd48;
   
   text-shadow:4px 4px 8px rgba(0, 0, 0, 0.5);

}
.container{
    
    margin-left: 10%;
    margin-right: 10%;
    width: 1000px;
    display: flex;
    justify-content: space-between;    
    height: auto;
    gap: 25px;
}

.container .card{ 
    position: relative;
    cursor: pointer;
  
}
.card .box{
    width: 300px;
    height: auto;
    transition: .5s;
}
.card-LOGO{
    margin-top: 10%;
    gap: 30px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.3em ;
    letter-spacing:0.2em;
   
}
.card-LOGO img{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
}
.card-LOGO a{
    padding: 15px;
    border-radius: 30px;
    background-color: transparent; /* Sin relleno de fondo */
    border: 1px solid #ffffff;
    color: #ffffff; /* Color del texto */
    text-align: center;
    text-decoration: none;
    font-family:'FonAquaFon Made';
    font-size:0.8em; /* Tamaño del texto */
    cursor: pointer;
    transition: transform .3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card-LOGO a:hover{
    transform: scale(1.1);
    border-radius: 30px;
    background-color: #0000004d;
}
.card .box.box1{
    position: relative;
    background:linear-gradient(to bottom, #000000, #000e24);
    border: 1px solid orange;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}
.card:hover .box.box1{
    opacity: .9;
    transform: translateY(0);
    transition: transform 0.3s;
    border-radius: 20px;
    
}
.card:hover .content img{
    filter: contrast(0%);
    transform: scale(0.9);
}
.content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 15px;
}
.content p{
   text-align: center;
   width: 90%;
 }
.content img{
    width: 75%;
}
.content h3{
    position: relative;
    top:-24px;
    padding: 8px;
    color: #ffffff;
   
    text-align: center;
    font-size: 1.5 em;
}
.card .box.box2{
    
    border-radius: 25px;
    position: relative;
    background: #383838;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    transform: translateY(-150px);
    
}
.card:hover .box.box2{
    transform: translateY(0);
    box-shadow: 0 2px 15px 2px #00000062;
    border-radius: 20px;
}
.content p{
    margin: 10px 0 0 0;
    padding: 0;
    color: #ffffff;
}
.content a{
    margin: 15 px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #ffffff;
    padding: 10px;
    border:1px solid #ffffff;
    border-radius: 25px;
    transition: transform 0.3s;
}
.content a:hover{
    background: #ffcd48;
    color: black;
    text-decoration: none;
    transform: scale(1.2);
}
/*2 -------------------    PAGINA DE SERVICE.html*/
.box-service{
    margin-left: 12%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75%;
    gap: 25px;
    border: 1px solid #ffce4886;
    border-radius: 25px;
    padding: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
section .box-service{
    margin-top: 50px;
    margin-bottom: 15px;
}
section h1{
    font-size: 2em;
    
}
section h2{
    color:#ffcd48;
    width: 25%;
    text-align: center;
}

section p { 
    width: 70%;
    text-align: right;
    line-height: 25px;
}
.category-item{
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #b8b8b8;
    font-size: 0.7em;
    gap: 10px;
    text-align: center;
    padding: 10px;
}
.img-category{
    border: 1px solid #ffcd48;
    border-radius: 50%;
    width: 70px;
}
.ubicacionEmpresa{
    padding: 5%;
    background: #013a41;   
    width: 100%;
    align-items: center;
}
.boxUbicacion{
    width: 86%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to left,  #000000,#0000002c);
    gap: 1px;

}
iframe{
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.boxUbicacion h2 { 
   text-align: center;
    writing-mode: vertical-rl;
    color: white;
}
.tittleBoxUbi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100px;
    
}
.contactoForm{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #000000;
}
.contenedorForm{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 29px;
    
}
.contenedorForm button{
    padding: 15px 10px;
    border-radius: 20px;
    background-color: transparent; /* Sin relleno de fondo */
    border: 1px solid #ffcd48;
    color: #ffffff; /* Color del texto */
    font-family:'FonAquaFon Made';
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer;
    transition: transform .3s;
}
.contenedorForm button:hover{
    transform: scale(1.1);
    background-color: #ffcd48;
    color: #000000;
}
footer{
   
    height: 100px;
    width: auto;
    display: flex;
    box-sizing: border-box;
    margin:0;
    background:linear-gradient(to top, #000000, #021a41,#013a41);
    justify-content: space-around;
    align-items: center;
    
}
footer img{ 
    width: 50px;
}

/*PAGINA DE TRABAJOS.HTML*/
.espacioDeHeader{
    height:  92px;
}
.imgContenedor{
    width: 75%;
    height: auto;
   
}
.trabajosRealizados{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 1px solid green;
    
}
.contenedorTrabajosReali{
    border: 1px solid #ffce4800;
    background-color: #00000021;
    border-radius: 25px;
    width: 85%;
    height: auto;
    margin-bottom: 25px;
    padding: 25px;    
    transition: border .3s;
}
.contenedorTrabajosReali:hover{
    border: 1px solid #ffce48;
}

.contenedorTrabajosReali h1{
    padding: 9px;
  
}
.imgYDescripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    
}
.imgContenedor{
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}
.imgContenedor:hover{
    filter: grayscale(0%);
}
.imgYDescripcion p{
    padding: 5px;
    text-align:justify;
    font-size: 1.2em;
}
.imgYDescripcion h3{
    font-size: 1.5em;
}
/*PAGINA DE TIPS PAGE*/
.todosContenedorTips{
    background-color: #000000a6;
}
.tipsContenedor{

display: flex;
box-sizing: border-box;
align-items: center;
flex-direction: column;
gap: 25px;
}
.tipsContenedor h1{
    width: 90%;
    font-size: 2em;
}
.tipsContenedor h2{
    font-size: 1.5em;
    width: 80%;
}
.tipsContenedor p{
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 25px;
}